<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style type="text/css">
  .centerdv {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/" class="navbar-brand">Home</a></li>
      <li><a href="/admin-login/" >Admin Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="navbar-brand"><b>Cart: {{cart_items}} Items</b></a></li>
      <li><a href="/cart/checkout" >Checkout!</a></li>
    </ul>
  </nav>
  <br>
  <br>
  <div class="page-header" style="text-align: center">
    <h2>Pwn to Own</h2>
  </div>
  <div class="container well centerdiv">
  <!-- PICK UP HERE!!!!!! -->
  </div>

</body>
</html>
